* {
  box-sizing: border-box;
}

header.profile-header {
  display: flex;
  flex-direction: column;
  height: 475px;
  width: 100%;
  background-color: #e3a419;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

.profile-picture {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.profile-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* margin: 0px; */
}

.profile-name h2 {
  color: white;
}
