* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  height: 400px;
  /* NOTE Add 120px to height Total: 520px */
  width: 100%;
  background-color: #ebcf41;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  width: auto;
}

.profile-picture {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0px;
}
