section.new-tweet {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.prompt {
  display: flex;
  font-size: large;
  font-weight: 600;
  color: #545149;
  margin-bottom: 0.5em;
}

.text-space {
  display: flex;
  background-color: #f4f1ec;
  font-size: medium;
  font-weight: 600;
  width: 100%;
  height: auto;
  border: none;
  /* white-space: nowrap; */
  padding-bottom: 0.5em;
}

.footer {
  display: flex;
  border-top: solid;
  justify-content: space-between;
  font-family: "Bungee", cursive, sans-serif;
  padding-top: 0.5em;
}

#button {
  background-color: #4056a1;
  color: #ffffff;
  font-size: smaller;
}
