* {
  box-sizing: border-box;
}
/* TODO FIX text height for everything inside the tweet box */

article.tweet-container {
  border: solid;
  margin: 20px 0px 20px 0px;
  padding: 0.5em;
}

article.tweet-container:hover {
  box-shadow: 4px 4px #d7d9f5;
}

article.tweet-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0em 0.5em 1.5em 0.5em;
  font-size: medium;
  /* align-items: center; */
}

.tweet-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-name h3 {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding-left: 10px;
  font-weight: 400;
}
.tweet-name img {
  height: 40px;
}

.username h3 {
  color: #d7d9f5;
}

article.tweet-container footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid;
  padding-top: 0.5em;
  padding: 0.5em 0.5em 0em 0.5em;
  font-size: medium;
}

.time-stamp h5 {
  margin: 0px;
}

.tweet-message h4 {
  margin: 0px 0px 10px 0px;
  font-size: medium;
  padding: 0em 0.5em 1em 0.5em;
}

.fa-flag:hover {
  color: #ebcf41;
}

.fa-retweet:hover {
  color: #ebcf41;
}

.fa-heart:hover {
  color: #ebcf41;
}
